/* ---- GLOBAL STYLES ---- */

body {
    font-family: 'Roboto', sans-serif;
}

a {
    display: block;
}

/* ---- GRID STYLES ---- */

.container {
    display: grid;
    grid-template-areas: 
            'header header  header  header  header'
            '.      nav     nav     nav     .'
            '.      main    main    main    aside'
            '.      main    main    main    aside'
            '.      main    main    main    aside'
            '.      main    main    main    aside'
            '.      main    main    main    .'
            '.      main    main    main    .'
            'footer footer  footer  footer  footer' 
}

/* SEARCH AREA */   
.header {
    grid
}